name: Ejecutar script de Python

on:
  schedule:
    - cron: '0 21 * * *'  # 4:00 PM en Austin (21:00 UTC)
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  ejecutar_script:
    runs-on: ubuntu-latest

    steps:
      - name: Hacer checkout del repositorio
        uses: actions/checkout@v3

      - name: Mostrar contenido del repositorio (debug)
        run: |
          echo "Contenido del directorio actual:"
          ls -l
          echo "Contenido recursivo:"
          ls -R

      - name: Instalar dependencias necesarias
        run: |
          sudo apt update
          sudo apt install -y chromium-browser chromium-chromedriver
          pip install selenium

      - name: Ejecutar script.py
        run: python script.py
